BPE_SCD_PROJECT/WebContent/wsdl/Customer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="customerDetails">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="phoneNo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="customerDetailsResponse">
    <complexType>
     <sequence>
      <element name="customerDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="customerDetailsRequest">

      <wsdl:part element="impl:customerDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="customerDetailsResponse">

      <wsdl:part element="impl:customerDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Customer">

      <wsdl:operation name="customerDetails">

         <wsdl:input message="impl:customerDetailsRequest" name="customerDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:customerDetailsResponse" name="customerDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CustomerSoapBinding" type="impl:Customer">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="customerDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="customerDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="customerDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CustomerService">

      <wsdl:port binding="impl:CustomerSoapBinding" name="Customer">

         <wsdlsoap:address location="http://localhost:8080/BPE_SCD_PROJECT/services/Customer"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
