BPE_SCD_PROJECT/WebContent/wsdl/Request_A_Services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="rrequestAservixce">
    <complexType>
     <sequence>
      <element name="customerID" type="xsd:int"/>
      <element name="requiredService" type="xsd:string"/>
      <element name="description" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="rrequestAservixceResponse">
    <complexType>
     <sequence>
      <element name="rrequestAservixceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="rrequestAservixceResponse">

      <wsdl:part element="impl:rrequestAservixceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="rrequestAservixceRequest">

      <wsdl:part element="impl:rrequestAservixce" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Request_A_Services">

      <wsdl:operation name="rrequestAservixce">

         <wsdl:input message="impl:rrequestAservixceRequest" name="rrequestAservixceRequest">

       </wsdl:input>

         <wsdl:output message="impl:rrequestAservixceResponse" name="rrequestAservixceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Request_A_ServicesSoapBinding" type="impl:Request_A_Services">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="rrequestAservixce">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="rrequestAservixceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="rrequestAservixceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Request_A_ServicesService">

      <wsdl:port binding="impl:Request_A_ServicesSoapBinding" name="Request_A_Services">

         <wsdlsoap:address location="http://localhost:8080/BPE_SCD_PROJECT/services/Request_A_Services"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
